<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <title>Aula-01</title>
</head>
<body>
    <div id="app">
        <h1> {{ titulo }} </h1>
        <p v-if="logado">Usuário Logado: {{ nome }} </p>
        <p v-else-if="anonimo">Navegando como Anônimo</p>
        <p v-else>Nenhum usuário logado</p>
        <button @click="logado =!logado">
            {{ logado ? 'Sair' : 'Entrar' }}
        </button>
        <input type="checkbox" v-model="anonimo">
    </div>
    
    <script>
        new Vue({
            el: "#app",
            data: {
                titulo: 'Condicionais - 1',
                nome: 'Bastião',
                logado: false,
                anonimo: true

            }
        });
    </script>
</body>
</html>